---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ graph_sa }}
  namespace: {{ graph_namespace }}
{% if graph_dockerhub_pullsecret %}
imagePullSecrets:
- name: dockerhub-pull-secret
{% endif %}
